html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.display-4{
  color: darkblue;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  font-size: 50px;
  background-image: url('../Img/360_F_595116954_w2RGeypI0WrDLreXrnwVBx2Fbp07xU1X.jpg');
  padding: 15px;
  border-radius: 10px;
  background-size: cover;
}

p{
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
}

a:hover {
  color: orange; 
} 

a:visited {
  color: purple;          
}