@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4">Buenas Tardes</h3>
    <p>Learn about <a href="https://www.masterduelmeta.com">Informacion sobre el tier</a>.</p>
</div>
