<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clínica Dental Henriquez</title>
    <link rel="stylesheet" href="https:"odontologia/odontologia.cshtml"/>
    <style>
        body {
            font-family: 'Poppins', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f8f8f8;
        }

        header {
            background-color: #1fa9cc;
            color: rgb(241, 234, 234);
            padding: 20px;
            text-align: center;
        }

        nav {
            background-color: #0086a8;
            display: flex;
            justify-content: center;
            gap: 30px;
            padding: 10px;
        }

        nav a {
            color: rgb(9, 4, 46);
            text-decoration: none;
            font-weight: bold;
        }

        section {
            padding: 30px;
        }

        .card {
            background-color: rgba(75, 224, 75, 0.589);
            border-radius: 10px;
            padding: 20px;
            margin: 20px auto;
            max-width: 800px;
            box-shadow: 0 4px 8px rgba(27, 1, 1, 0.1);
        }

        footer {
            background-color: #0ea8c450;
            color: rgba(49, 26, 151, 0.534);
            text-align: center;
            padding: 15px;
            margin-top: 50px;
        }
    </style>
</head>

<body>

    <header>
        <h1>Clínica Dental Sonrisa Perfecta</h1>
        <p>Tu sonrisa, nuestra prioridad</p>
    </header>

    <nav>
        <a href="#">Inicio</a>
        <a href="#">Servicios</a>
        <a href="#">Equipo</a>
        <a href="#">Numero</a>
    </nav>

    <section>
        <div class="card">
            <h2>Bienvenidos</h2>
            <p>En nuestra clínica ofrecemos servicios dentales de alta calidad, con un equipo profesional dedicado a
                cuidar de tu salud bucal.</p>
        </div>

        <div class="card">
            <h2>Servicios</h2>
            <ul>
                <li>Ortodoncia</li>
                <li>Limpieza dental</li>
                <li>Implantes</li>
                <li>Blanqueamiento</li>
                <li>Besitos en la boquita</li>
            </ul>
    <footer>
        <p>&copy; Clínica Dental Sonrisa Perfecta.</p>
    </footer>

</body>

</html>
